---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20
ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
NamespaceIndentation: All
BreakBeforeBraces: Allman
PointerAlignment: Left
AlignTrailingComments: true
ReflowComments: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AlwaysBreakTemplateDeclarations: Yes
SortIncludes: false
FixNamespaceComments: false
SpaceAfterCStyleCast: false
...
